<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243486098123-goso6feiq6d9g48vctgrori7jbk8tong.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243486098123-goso6feiq6d9g48vctgrori7jbk8tong</string>
	<key>API_KEY</key>
	<string>AIzaSyBt875jLyaTfqQIygoOuhbTYAsayxIRLhA</string>
	<key>GCM_SENDER_ID</key>
	<string>243486098123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyApp</string>
	<key>PROJECT_ID</key>
	<string>study-app-91054</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-91054.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243486098123:ios:97889471634a952f47114e</string>
</dict>
</plist>